body {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.side-bar {
    display: grid;
    grid-row: 1 / 3;
    background-color:beige;
    justify-items: start;
}

.side-bar ul {
    list-style-type: none;
    padding: 0;
}

.header {
    display: grid;
    grid-template-columns: minmax(200px, auto);
    grid-template-rows: 1fr;
    background-color: blanchedalmond;
}

.top-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    align-items: center;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.search-bar {
    grid-row: 1 / 1;
}

.top-name {
    justify-self: end;
    padding-right: 80px;
    grid-row: 1 / 1;
}

.header-button-container {
    justify-self: center;
}

.header-button-container, button {
    margin: 30px;
}

.main-content, .header {
    padding: 1rem 2rem;
}

.main-content {
    background-color: rgb(184, 180, 180);
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 30px;
}

.content-left-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem auto;
    gap: 20px;
    
}

.content-right-section {
    display: grid;
    grid-template-rows: 3rem auto;
    gap: 20px
}

.content-left-section h1, .content-right-section h1 {
    grid-column: 1 /-1;
    margin: 0;
    align-self: end;
}

.right-top-section {
    display: flex;
    flex-direction: column;
    
}

.right-top-section, .right-bot-section {
    border: 1px black solid;
}

.announcements {
    display: grid;
}


.card {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border: 1px solid black;
}