body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 5fr;
}

.side-bar {
    display: grid;
    grid-row: 1 / -1;
    background-color:rgb(8, 158, 196);
    justify-items: start;
    padding-left: 3rem;
    color: rgb(236, 239, 241);
}

.side-bar ul {
    list-style-type: none;
    padding: 0;
}

.logo {
 display: flex;  
 justify-content: center;
 align-items: center;
 gap: 1rem;
}

li {
    display: flex;
    gap: 2rem;
    align-items: center;
    font-size: 1.5rem;
    padding: 1rem;
    font-weight: bold;
}

li p, li img {
    margin: 0;
    cursor: pointer;
}
.header {
    display: grid;
    grid-template-columns: minmax(200px, auto);
    grid-template-rows: 1fr;
    background-color: rgb(255, 255, 255);
}

.top-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    align-items: center;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.header-name-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-container {
    grid-row: 1 / 1;
    display: flex;
}

.search-bar {
    border-radius: 25px;
    height: 2rem;
    background-color: rgb(192, 197, 197);
    border-style: none;
    flex-grow: 1;
    opacity: 0.5;
}

.top-name {
    justify-self: end;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
}


.header-button-container {
    justify-self: center;
}

.header-button-container button {
    background-color: #008CBA;
    padding: 15px 35px;
    border-radius: 25px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    box-shadow: none;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #cc6b1c;
}

.header-button-container, button {
    margin: 30px;
}

.main-content, .header {
    padding: 1rem 8rem 1rem 3rem;
}

.main-content {
    background-color: rgb(238, 235, 235);
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    padding-bottom: 5rem;
    border-top: 3px rgb(209, 206, 206) solid;
}

.content-left-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 3rem auto;
    gap: 20px;
    
}

.content-right-section {
    display: grid;
    grid-template-rows: 3rem auto;
    gap: 20px;
    justify-content: center;
}

.content-left-section h1, .content-right-section h1 {
    grid-column: 1 /-1;
    margin: 0;
}

.right-top-section, .right-bot-section {
    padding: 2rem 2rem;

}

.card, .right-top-section, .right-bot-section {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px rgb(226, 222, 222);
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
}

.card {
    padding: 2rem 1rem;
    border-left: 10px solid;
    border-image: linear-gradient(rgb(248, 176, 21), rgb(8, 158, 196)) 0 100%; 
    justify-content: space-between;
}

.action-block {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.card:hover {
    background-color: beige;
}

.right-cards {
    border-bottom: 1px solid rgb(175, 172, 172)
}