body {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
}

.side-bar {
    display: grid;
    grid-row: 1 / 3;
    background-color:beige
}

.header {
    display: grid;
    grid-template-columns: minmax(200px, auto);
    grid-template-rows: 1fr;
    background-color: blanchedalmond;
}

.top-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr;
    align-items: center;
}

.bottom-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.search-bar {
    grid-row: 1 / 1;
    min-height: 20px;
}

.top-name {
    justify-self: end;
    padding-right: 80px;
    grid-row: 1 / 1;
}

.header-button-container {
    justify-self: center;
}

.header-button-container, button {
    margin: 30px;
}

.main-content {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 30px;
    margin-bottom: 150px;
}

.content-left-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px auto;
    gap: 20px;
}

.content-right-section {
    display: grid;
}

.project-header {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.card {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    border: 1px solid black;
}